<div [formGroup]="parent" class="step-quote">
  <div formGroupName="aditionalInfo" class="form-group">
    <h3 class="heading-terciary">Additional Shipping Information</h3>
    <label class="form-label step-description">Commodity:</label>
    <input
      class="form-control step-description"
      type="text"
      placeholder="e.g food"
      formControlName="commodity"
    />
    <br />
    <label class="form-label step-description" for="total-weight"
      >Total Weight:</label
    >
    <input
      class="form-control step-description"
      type="number"
      formControlName="totalWeight"
    />

    <br />
    <label class="form-label step-description">Freight Type:</label>
    <select class="form-control step-description" formControlName="freightType">
      <option value="Dry Van">Dry Van</option>
      <option value="Refrigerated">Refrigerated</option>
    </select>
  </div>
</div>
