<section class="section-quotation">
  <div class="container">
    <div class="quotation">
      <div>
        <h2 class="heading-secondary">Get Quote</h2>
      </div>
      <form
        class="quotation-form"
        action="#"
        (ngSubmit)="handleSubmit()"
        [formGroup]="form"
        novalidate
      >
        <app-pickup-info
          [parent]="form"
          class="grid-item-pickup"
        ></app-pickup-info>

        <app-delivery-info
          [parent]="form"
          class="grid-item-delivery"
        ></app-delivery-info>

        <app-aditional-info
          [parent]="form"
          class="grid-item-aditional"
        ></app-aditional-info>

        <app-pallet-selector
          [parent]="form"
          [palletTypes]="palletTypes"
          (added)="addStock($event)"
          class="grid-item-selector"
        ></app-pallet-selector>

        <app-stock-pallets
          [parent]="form"
          (removed)="removeStock($event)"
          class="grid-item-stock"
        ></app-stock-pallets>

        <button class="btn" [disabled]="form.invalid" type="submit">
          Get Quote
        </button>
      </form>
    </div>
  </div>
</section>

<!-- <hr />

<pre>
  Estado del formulario: {{form.valid}}
  <br>
  Status:{{form.status}}
</pre>

<pre>
  {{ form.value | json }}
</pre> -->
