<div [formGroup]="parent" class="quotation-form-item">
  <div formGroupName="deliveryInfo" class="flex-y-container">
    <h3 class="heading-terciary">
      Where are you shipping to? - Delivery Location
    </h3>
    <label>Zipcode:</label>
    <input
      type="text"
      placeholder="Enter Delivery ZipCode"
      formControlName="deliveryZipcode"
    />
    <!-- <small *ngIf="deliveryZipcodeNotValid" class="text-danger"
      >Please enter valid ZipCode</small
    > -->
    <div class="flex-container flex-ss">
      <label>Do you require Appointment?</label>
      <input
        class="checkbox-item"
        type="checkbox"
        formControlName="appointment"
      />
    </div>
  </div>
</div>
