<div [formGroup]="parent" class="step-quote">
  <div formGroupName="deliveryInfo" class="form-group">
    <h3 class="heading-terciary">
      Where are you shipping to? - Delivery Location
    </h3>
    <label class="form-label step-description">Zipcode:</label>
    <input
      class="form-control step-description"
      type="text"
      placeholder="Enter Delivery ZipCode"
      formControlName="deliveryZipcode"
    />
    <!-- <small *ngIf="deliveryZipcodeNotValid" class="text-danger"
      >Please enter valid ZipCode</small
    > -->

    <br />
    <label class="form-check-label">Do you require Appointment?</label>
    <input
      type="checkbox"
      class="form-check-input"
      formControlName="appointment"
    />
  </div>
</div>
