<form class="quote-form" action="/submit-form" method="post">
  <div class="container">
    <span class="subheading">Get a Freight Quote</span>
  </div>

  <div class="container grid grid--3-cols">
    <div class="step-quote">
      <h3 class="heading-terciary">
        Where are you shipping from? - Pickup Location
      </h3>
      <label class="step-description" for="pickup-zipcode">Zipcode:</label>
      <input
        class="step-description"
        type="text"
        id="pickup-zipcode"
        name="pickup-zipcode"
        required
      />
      <br />
      <label class="step-description" for="pickup-date">Pickup Date:</label>
      <input
        class="step-description"
        type="date"
        id="pickup-date"
        name="pickup-date"
        required
      />
      <br />
      <label class="step-description" for="lift-gate"
        >Do you require a Lift Gate?</label
      >
      <input
        class="step-description"
        type="checkbox"
        id="lift-gate"
        name="lift-gate"
      />
    </div>
    <div class="step-quote">
      <h3 class="heading-terciary">
        Where are you shipping to? - Delivery Location
      </h3>
      <label class="step-description" for="delivery-zipcode">Zipcode:</label>
      <input
        class="step-description"
        type="text"
        id="delivery-zipcode"
        name="delivery-zipcode"
        required
      />
      <br />
      <label class="step-description" for="appointment"
        >Do you require an appointment?</label
      >
      <input
        class="step-description"
        type="checkbox"
        id="appointment"
        name="appointment"
      />
    </div>
    <div class="step-quote">
      <h3 class="heading-terciary">Additional Shipping Information</h3>
      <label class="step-description" for="commodity">Commodity:</label>
      <input
        class="step-description"
        type="text"
        id="commodity"
        name="commodity"
        required
      />
      <br />
      <label class="step-description" for="pallet-type">Pallet Type:</label>
      <select
        class="step-description"
        id="pallet-type"
        name="pallet-type"
        required
      >
        <option value="40x48">40 x 48</option>
        <option value="40x40">40 x 40</option>
      </select>
      <br />
      <label class="step-description" for="pallet-height">Pallet Height:</label>
      <input
        class="step-description"
        type="number"
        id="pallet-height"
        name="pallet-height"
        required
      />
      <br />
      <label class="step-description" for="quantity">Quantity:</label>
      <input
        class="step-description"
        type="number"
        id="quantity"
        name="quantity"
        required
      />
      <br />
      <label class="step-description" for="total-weight">Total Weight:</label>
      <input
        class="step-description"
        type="number"
        id="total-weight"
        name="total-weight"
        required
      />
      <br />
      <label class="step-description" for="dry-van"
        >Dry Van or Refrigerated:</label
      >
      <select class="step-description" id="dry-van" name="dry-van" required>
        <option value="Dry Van">Dry Van</option>
        <option value="Refrigerated">Refrigerated</option>
      </select>
      <br />
      <!-- <label class="step-description" for="temperature">Temperature:</label>
      <input
        class="step-description"
        type="text"
        id="temperature"
        name="temperature"
      /> -->
      <br />
      <!-- <label class="step-description" for="contact-number"
        >Contact Number:</label
      >
      <input
        class="step-description"
        type="tel"
        id="contact-number"
        name="contact-number"
        required
      /> -->
      <br />

      <a href="" class="btn btn--full margin-right-sm">Get Quote </a>
    </div>
  </div>
</form>
