<form
  class="quote-form"
  action=""
  (ngSubmit)="handleSubmit()"
  [formGroup]="form"
  novalidate
>
  <div class="container">
    <span class="subheading">Get a Freight Quote</span>
  </div>

  <div class="container grid grid--3-cols">
    <app-pickup-info [parent]="form"></app-pickup-info>

    <app-delivery-info [parent]="form"></app-delivery-info>

    <app-aditional-info [parent]="form"></app-aditional-info>

    <app-pallet-selector
      [parent]="form"
      [palletTypes]="palletTypes"
      (added)="addStock($event)"
    ></app-pallet-selector>

    <app-stock-pallets
      [parent]="form"
      (removed)="removeStock($event)"
    ></app-stock-pallets>

    <button
      class="btn btn--full margin-right-sm"
      [disabled]="form.invalid"
      type="submit"
    >
      Get Quote
    </button>
  </div>
</form>

<hr />

<pre>
  Estado del formulario: {{form.valid}}
  <br>
  Status:{{form.status}}
</pre>

<pre>
  {{ form.value | json }}
</pre>
