<div [formGroup]="parent" class="step-quote">
  <div formGroupName="pickupInfo" class="form-group">
    <h3 class="heading-terciary">
      Where are you shipping from? - Pickup Location
    </h3>

    <input
      class="form-control step-description"
      type="text"
      placeholder="Enter Pickup ZipCode"
      formControlName="pickupZipcode"
    />
    <!-- <small *ngIf="pickupZipcodeNotValid" class="text-danger"
      >Please enter valid ZipCode</small
    > -->
    <br />
    <label class="form-label step-description">Pickup Date:</label>
    <input
      class="form-control step-description"
      type="date"
      formControlName="pickupDate"
    />

    <br />
    <label class="form-check-label">Do you require a Lift Gate?</label>
    <input
      type="checkbox"
      class="form-check-input"
      formControlName="liftgate"
    />
  </div>
</div>
