<div [formGroup]="parent" class="step-quote">
  <div formGroupName="selector" class="form-group">
    <br />
    <label class="form-label step-description">Pallet Type:</label>
    <select class="form-control step-description" formControlName="type">
      <option value="">Select pallet type</option>
      <option *ngFor="let item of palletTypes" [value]="item.id">
        {{ item.type }}
      </option>
    </select>
    <br />
    <label class="form-label step-description">Pallet Height:(inches)</label>
    <input
      class="form-control step-description"
      type="number"
      formControlName="high"
    />

    <br />
    <label class="form-label step-description">Pallet Quantity:</label>
    <input
      class="form-control step-description"
      type="number"
      formControlName="quantity"
    />
    <button type="button" class="btn btn-primary" (click)="onAdd()">
      Add stock
    </button>

    <!-- <label class="step-description" for="temperature">Temperature:</label>
    <input
      class="step-description"
      type="text"
      id="temperature"
      name="temperature"
    /> -->
    <br />
    <!-- <label class="step-description" for="contact-number"
      >Contact Number:</label
    >
    <input
      class="step-description"
      type="tel"
      id="contact-number"
      name="contact-number"
      required
    /> -->
    <br />
  </div>
</div>
